# EditorConfig (https://editorconfig.com) configuration suitable for
# "drh projects": fossil, althttpd, and their kin.

# Defaults for all files
[*]
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 2

[{Makefile,Makefile.*,*.make,*.make.in}]
indent_style = tab
