/* Styles specific to the forum family of pages */

.ForumPostEditor {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.ForumPostEditor > .tab-bar{
}

.ForumPostEditor > .tab-container {
}

.ForumPostEditor > .tab-container > .tabs {
  min-height: 16em;
}

.ForumPostEditor > .tab-container > .tabs > .tab-panel.debug {
  display: flex;
  flex-direction: column;
  gap: 0.75em;
}

.ForumPostEditor > .tab-container > .tabs > .tab-panel.debug label,
.ForumPostEditor > .tab-container > .tabs > .tab-panel.debug input[type=checkbox]{
  cursor: pointer;
}

.ForumPostEditor .tab-panel.editor-wrapper {
  display: flex;
  flex-direction: column;
}

.ForumPostEditor .tab-panel.editor-wrapper > .editor {
  max-width: initial;
  min-height: 18em;
  flex-grow: 1
}

.ForumPostEditor > .buttons > .mimetype-wrapper,
.ForumPostEditor > .titlebar{
  display: flex;
  flex-direction: row;
  gap: 0.75em;
}

.ForumPostEditor > .titlebar > .title {
  flex-grow: 1;
}

.ForumPostEditor > .buttons {
  display: flex;
  flex-direction: row;
  gap: 0.75em;
}
